<md-dialog ng-cloak>
    <form name="policyForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit configuration</h2>
                <span flex></span>
                <md-button ng-click="closeDialog()" class="md-button">Close dialog</md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" ng-show="showProgressBar"></md-progress-linear>

        <md-dialog-content style="width:600px;">
            <div layout="column" layout-padding ng-include="modalPath + type +'.tpl.html'"></div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Close
            </md-button>
            <md-button ng-click="saveData(configMethod)" ng-disabled="">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>